$iphone-four-width : 320px;
$iphone-four-height : 380px;
$iphone-five-width : 320px;
$iphone-five-height : 468px;
$iphone-six-width : 375px;
$iphone-six-height : 559px;
$iphone-sixplus-width : 414px;
$iphone-sixplus-height : 636px;
$ipad-width : 750px;
$desktop-medium-width : 880px;
$desktop-medium-height : 880px;


$color-button : #D34B77;

@mixin iphone-four {
  @media screen and (min-width: #{$iphone-four-width}) {
    @content;
  }
}
@mixin iphone-five {
  @media screen and (min-width: #{$iphone-five-width}) {
    @content;
  }
}
@mixin iphone-six {
  @media screen and (min-width: #{$iphone-six-width}) {
    @content;
  }
}
@mixin iphone-sixplus {
  @media screen and (min-width: #{$iphone-sixplus-width}) {
    @content;
  }
}
@mixin ipad {
  @media screen and (min-width: #{$ipad-width}) {
    @content;
  }
}
@mixin desktop-medium {
  @media (min-width: #{$desktop-medium-width}) {
    @content;
  }
}

body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.navbar-wrapper {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  @include desktop-medium {
    padding: 2rem;
    padding-bottom: 1rem;
  }

  &__left {
    flex:1;
    #logo {
      width: 50%;
      min-width: 175px;
      max-width: 300px;
    }
  }
  &__right {
    justify-content: flex-end;
    align-items: center;
    display: none;
    @include desktop-medium {
      display: flex;
    }
    &__item {
      margin-right: 2rem;
      cursor: pointer;
      font-weight: 600;
      &:last-child {
        margin-right: 0rem;
      }
      &--signup {
        padding: 0.7em 1.3em;
        border: 2px solid $color-button;
        color: $color-button;
        border-radius: 4px;
      }
    }
  }

  #mobile-menu-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 4px;
    transition: 0.4s ease all;
    z-index: 9;
    margin-top: -300px;
    background-color: #ffffff;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include desktop-medium {
      display: none;
    }

    &.open {
      /*visibil/ity: visible;*/
      min-height: 100vh;
      /*height: auto;*/
      margin-top: 0px;
      a {
      }
    }

    .item {
      display: none;
      transition : 0.3s ease all;
      border: 2px solid #4A4A4A;
      background-color: #fff;
      padding: 1em;
      margin: 1em 0em;
      border-radius: 9px;
      cursor: pointer;
      margin : 1rem auto;
      display: block;
      width: 90%;
      max-width: 350px;
      &:last-child {
        margin-bottom: 0em;
      }
      &:hover {
        background-color: #color-button;
        color : #ffffff;
        border-color: #ffffff;
      }
      &--signup {

      }
    }
  }
}

.hero-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0em 1em;
  &__title{
    color:#73CEE1;
    font-size: 1.5em;
    margin: 0px;
    font-weight: 900;
    margin-bottom: 0.5rem;
    @include iphone-four {
      font-size: 2.5em;
    }
    @include iphone-six {
      font-size: 3.5em;
    }
    @include iphone-sixplus {
      font-size: 4em;
    }
    @include ipad {
      font-size: 3.8em;
    }
    @include desktop-medium {
      font-size: 4.6em;
    }
  }
  h2 {
    font-weight: 400;
    font-size: 1.0em;
    max-width: 450px;
    margin : 0rem auto 3rem;
     @include iphone-six {
      font-size: 1.5em;
    }
  }
  /*&__image-wrapper {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &__image {
      max-width: 60%;
    }
  }*/
}

.image-wrapper {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-image: url('iphone_hand.png');
    background-size: contain;
    background-repeat: no-repeat;;
    background-position: 50% 50%;
    z-index: 99;

 . ;}


.background-image {
  background-image: url('survey_results_background@1x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 30%;
  z-index:9;
}

.background-gradient {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  min-height: 10%;
  z-index: 999;
  background-image: linear-gradient(0deg, #EEEEEE 13%, rgba(215, 215, 215, 0) 100%);
}






 #mobile-menu {
  z-index: 999;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: block;
  @include desktop-medium {
    display: none;
  }
}

#mobile-menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #4A4A4A;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#mobile-menu {
}

#mobile-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobile-menu span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobile-menu span:nth-child(3) {
  top: 25px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobile-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 4px;
}

#mobile-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#mobile-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  left: 4px;
}
