$iphone-four-width : 320px;
$iphone-four-height : 380px;
$iphone-five-width : 320px;
$iphone-five-height : 468px;
$iphone-six-width : 375px;
$iphone-six-height : 559px;
$iphone-sixplus-width : 414px;
$iphone-sixplus-height : 636px;
$desktop-medium-width : 800px;
$desktop-medium-height : 800px;

$color-button : #D34B77;

@mixin desktop-medium {
  @media (min-width: #{$desktop-medium-width}) {
    @content;
  }
}
@mixin iphone-four {
  @media screen and (min-width: $iphone-four-width) and (min-height: $iphone-four-height) {
    @content;
  }
}
@mixin iphone-five {
  @media screen and (min-width: $iphone-five-width) and (min-height: $iphone-five-height) {
    @content;
  }
}
@mixin iphone-six {
  @media screen and (min-width: $iphone-six-width) and (min-height: $iphone-six-height) {
    @content;
  }
}
@mixin iphone-sixplus {
  @media screen and (min-width: $iphone-sixplus-width) and (min-height: $iphone-sixplus-height) {
    @content;
  }
}

body {
  font-size: 14px;
}

a {
  cursor: pointer;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.navbar-wrapper {
  padding: 2rem;
  display: flex;
  align-items: center;

  &__left {
    flex:1;
  }
  &__right {
    justify-content: flex-end;
    align-items: center;
    display: none;
    @include desktop-medium {
      display: flex;
    }
    &__item {
      margin-right: 2rem;
      cursor: pointer;
      &:last-child {
        margin-right: 0rem;
      }
      &--signup {
        padding: 0.7em 1.3em;
        border: 2px solid $color-button;
        color: $color-button;
        border-radius: 4px;
      }
    }

    &--mobile {
      display: flex;
      justify-content: flex-end;
      width: 40px;
      min-height: 40px;
      border-radius: 4px;
      border: 2px solid $color-button;
      @include desktop-medium {
        display: none;
      }
      &__item {
        /*display: none;*/
        display: block;
      }
      &.open {
          flex-direction: column;
          width: 90%;
      }
    }
  }
}

.hero-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0em 1em;
  &__title{
    color:#73CEE1;
    font-size: 5em;
    margin: 0px;
    margin-bottom: 1rem;
    @include iphone-four {
      font-size: 2.5em;
    }
  }
  h2 {
    margin: 0px;
    font-size: 1.5em;
    margin-bottom: 3rem;
     @include iphone-four {
      font-size: 1em;
    }
  }
  /*&__image-wrapper {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &__image {
      max-width: 60%;
    }
  }*/
}

.image-wrapper {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-image: url('iphone_hand@3x.png');
    background-size: contain;
    background-repeat: no-repeat;;
    background-position: 47% 50%;
  }


.background-image {
  background-image: url('survey_results_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 50%;
  z-index: -1;
}
